<div class="container">
    <h2 class="mb-4 text-center text-gray-900">Lista de Recepciones</h2>

    <div class="row">
        <%- include('panel/panelList.ejs') %>
    </div>
    <%- include('panel/modalReception.ejs') %>
</div>

<script src="assets/js/front/panel/panelList.js"></script>

<style>
    .card {
        border-radius: 0.75rem;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    }
</style>