<div class="card mb-4 w-100">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Opciones de Filtro</h6>
    </div>
    <div class="card-body">
        <div class="row align-items-center mb-3">

            <div class="col-12 text-gray-800">
                <div class="form-check form-check-inline">
                    <input class="form-check-input estado-filter" type="checkbox" id="filterEnProceso" value="EN PROCESO" checked>
                    <label class="form-check-label" for="filterEnProceso">En Proceso</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input estado-filter" type="checkbox" id="filterPendiente" value="PENDIENTE" checked>
                    <label class="form-check-label" for="filterPendiente">Pendiente</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input estado-filter" type="checkbox" id="filterOtro" value="PENDIENTE" checked>
                    <label class="form-check-label" for="filterOtro">Otro</label>
                </div>
            </div>

        </div>

        <!-- <div class="row align-items-center">
            <div class="col-12 col-md-3 mb-2 mb-md-0">
                <strong>Estado</strong>
            </div>

            <div class="col-12 col-md-3 mb-2 mb-md-0">
                <strong>Pedido</strong>
            </div>

            <div class="col-12 col-md-3 mb-2 mb-md-0">
                <strong>Fecha de Entrada</strong>
            </div>

            <div class="col-12 col-md-3">
                <strong>Cliente</strong>
            </div>
        </div> -->
    </div>
</div>



<div id="reportsOutput" class="mt-4  col-12 ">
    <div class="text-center text-muted p-5">
        <p>No se encontraron recepciones pendientes.</p>
    </div>
</div>